#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keycodes.h"


/ {
    keymap {
        compatible = "zmk,keymap";

        #define HYPER &kp C // HYPER button


        default_layer {

            bindings = <
    &kp Q           &kp W           &kp E           &kp R           &kp T                            &kp Y         &kp U           &kp I            &kp O           &kp O      
    &mt LSHFT A     &mt LCTRL S     &mt LALT D      &mt LGUI F      &kp G                            &kp H         &mt LGUI J      &mt LALT K       &mt LCTRL L     &mt LSHFT SEMI  
    &kp Z           &kp X           &kp C           &kp V           &kp B                            &kp N         &kp M           &kp COMMA        &kp DOT         &kp O 
                    &mt HYPER ESC        &kp DEL         &kp RET         &kp SPACE                        &kp SPACE     &kp TAB         &kp BSPC         &kp RALT
            >;

        };
    };
};