hm: hold_tap_mods {
  compatible = "zmk,behavior-hold-tap";
  label = "HOLD_TAP_MODS";
  #binding-cells = <2>;
  tapping_term_ms = <300>;
  flavor = "tap-preferred";
  bindings = <&kp>, <&kp>;
};


#define HYPER  &hm N4 ESC